* {
  padding:0;
  margin:0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Roboto', sans-serif;
}

#graph {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
  font-size: 5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #999999;
  stroke-width: 1px;
}

.circle{
  fill: purple;
}

.bubbleText{
  font-size: 600px;
  color: black;
}

.clearfix {
  overflow: auto;
}

.education-entry, .work-entry, .project-entry {
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-size: 39px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}


#why {
  font-style: italic;
  font-size: 15px;
  color: #000000;
  line-height: 0px;
  text-align: center;

}


h4 {
  font-weight: bold;
  font-size: 13px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.date-text {
  font-style: italic;
  font-size: 13px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 13px;
  color: #999999;
  line-height: 16px;
  float: right;

}
#ability
{
  margin-top: 15px;
  text-align: center;
}

p {
  font-size: 13px;
  color: #333333;
  line-height: 21px;
}

a {
  color: #1199C3;
  text-decoration: none;
  margin-top: 9px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 13px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  display: none;
}

.orange {
  background-color: #F5AE23;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4A4A4A;
}

#header {
  background-color: #484848;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  padding-left: 0px;
  width: 135px;
  display: none;
}

img {
  padding: 10px;
}


#workDesc{
  padding-left:3em;
}

span {
  padding: 5px;
    color: #000000;
}

.skills{
  display: none;
  font-weight: bold;
  color: #FFFFFF;
}

#letsConnect {
  text-align: center;
}

#divFooter{
  display: -webkit-box;
  font-size: 13px;
}

#onlineClasses{
  padding-left: 0px;
  padding-top:40px;
  color: #999999;
}

#tryIt{

  justify-content: right;
}

@media only screen and (max-width: 1024px) {
  #letsConnect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 123px;
  }
}

@media only screen and (max-width: 750px) {
  #letsConnect {
    margin-top: 10%;
  }
  .biopic {
    width: 108px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  .skills,
  #skillsH3,
  .biopic {
    display: block;
    padding-top: 11px;
  }
}